@import '~calcite-web/dist/css/calcite-web.min.css';

.cursor-pointer{
    cursor: pointer;
}

// customize style for ArcGIS JS API Popup Window
#root {
    .esri-popup{
        .esri-widget {
            background-color: transparent;
            color: #E2E2E2;

            a {
                color: #E2E2E2;
            }
        }

        .esri-popup__main-container,
        .esri-popup__pointer-direction,
        .esri-popup__navigation { 
            background-color:rgba(47,61,94,1);
            color:#E2E2E2;
        }

        .esri-popup__header-title:hover,
        .esri-popup__button:hover {
            background-color: rgba(47,61,94,1);
        }

    }
}