.modal-overlay{
    background: rgba(0, 0, 0, 0.6);
}

.about-modal{
    .modal-content {
        position: relative;
        background: #2f3d5e;
        color: #E2E2E2;
        padding: 2.5rem;

        .close-btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;

            svg {
                // fill: rgb(140, 126, 82);
                stroke: #E2E2E2;
            } 
        }

        // a {
        //     color: #E2E2E2;
        // }

        b {
            color: #40C4ED
        }
    }
}