.search-widget-container {

    .esri-input {
        background-color: rgba(108, 117, 138,1);
        color: #E2E2E2;
    }

    .esri-input::placeholder {
        color:#E2E2E2;
    }

    .esri-widget--button {
        display: none;
        // font-size: 14px;
        // background-color: #999;
        // color: #6e6e6e;
    }
}